* {
	padding: 0;
	margin: 0;
}

.box {
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
	margin: 50px;
	/*      top+right+bottom+left */
	/*margin: 50px 		20px; */
	/*      top+bottom 	left+right */
	/*margin: 50px 	20px 		40px; */
	/*      top 	left+right  bottom*/
	/*margin: 50px   20px    40px     50px;*/
	/*      top    right   bottom   left */
	padding: 20px;
	border: 6px solid black;
	/*box-sizing: border-box;*/
	box-sizing: content-box;
}

.box2 {
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
	margin: 50px;
	/*      top+right+bottom+left */
	/*margin: 50px 		20px; */
	/*      top+bottom 	left+right */
	/*margin: 50px 	20px 		40px; */
	/*      top 	left+right  bottom*/
	/*margin: 50px   20px    40px     50px;*/
	/*      top    right   bottom   left */
	padding: 20px;
	/*box-sizing: border-box;*/
	box-sizing: content-box;
	border-radius: 20px;
}

.box3 {
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
	margin: 50px;
	/*      top+right+bottom+left */
	/*margin: 50px 		20px; */
	/*      top+bottom 	left+right */
	/*margin: 50px 	20px 		40px; */
	/*      top 	left+right  bottom*/
	/*margin: 50px   20px    40px     50px;*/
	/*      top    right   bottom   left */
	padding: 20px;
	/*box-sizing: border-box;*/
	box-sizing: content-box;
	border-top-left-radius: 150px;
	border-bottom-right-radius: 150px;
}

.circle {
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
	margin: 50px;
	/*      top+right+bottom+left */
	/*margin: 50px 		20px; */
	/*      top+bottom 	left+right */
	/*margin: 50px 	20px 		40px; */
	/*      top 	left+right  bottom*/
	/*margin: 50px   20px    40px     50px;*/
	/*      top    right   bottom   left */
	padding: 20px;
	/*box-sizing: border-box;*/
	box-sizing: content-box;
	border-radius: 100%;
}

.oval {
	width: 200px;
	height: 100px;
	background-color: red;
	color: white;
	margin: 50px;
	/*      top+right+bottom+left */
	/*margin: 50px 		20px; */
	/*      top+bottom 	left+right */
	/*margin: 50px 	20px 		40px; */
	/*      top 	left+right  bottom*/
	/*margin: 50px   20px    40px     50px;*/
	/*      top    right   bottom   left */
	padding: 20px;
	/*box-sizing: border-box;*/
	box-sizing: content-box;
	border-radius: 100%;
}

.circle-image {
	width: 200px;
	height: 200px;
	background-image: url('image1.jpg');
	color: white;
	margin: 50px;
	/*      top+right+bottom+left */
	/*margin: 50px 		20px; */
	/*      top+bottom 	left+right */
	/*margin: 50px 	20px 		40px; */
	/*      top 	left+right  bottom*/
	/*margin: 50px   20px    40px     50px;*/
	/*      top    right   bottom   left */
	padding: 20px;
	/*box-sizing: border-box;*/
	box-sizing: content-box;
	border-radius: 100%;
}
